# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# local
/src
/config
/public
/scripts

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

